<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CrossBrowserSuite" parallel="tests">
  <test name="TestOnChrome">
  <parameter name="Browser" value="chrome"></parameter>
    <classes>
      <class name="TestPages.TC_0Loginr"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="TestOnFireFox">
  <parameter name="Browser" value="firefox"></parameter>
    <classes>
      <class name="TestPages.TC_0Loginr"/>
    </classes>
  </test> <!-- Test -->
  
  
  
</suite> <!-- CrossBrowserSuite -->
